@media screen and (min-width: 768px) {

    /* Navigation
    ===========================================*/

    .navbar-collapse{
        background: none;
    }

    .navbar-text {
        display: inline-block;
        font-size: 2.75em;
        margin: 0px 0 0 20px;
    }

    /* portfolio
    ===========================================*/

    .btn-wrapper {
    margin-bottom: 20px;

}

@media screen and (min-width: 992px) {


    /* About
    ===========================================*/

    #about {
        margin-top: 80px;
    }
    .intro {
        max-width: 650px;
        margin: 15px 0 0 0px;
    }


    /* Portfolio
    ===========================================*/
    #portfolio {
        padding: 55px 30px 0;
    }

}
    /* Contact
    ===========================================*/

    #contact h2 {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1700px) {

    .landing-photo {
        margin-top: -200px;
    }

}
