/* General styles
===========================================*/
/* * {
    border: 0.1px solid red;
} */


  

* {
    box-shadow: none;
}
html,
body {
    overflow-x: hidden;
    height: 100%;
}

/*a, a:visited, a:focus {
 color: #1756a9;
}*/ 



.outer-wrapper{
    min-height: 800px;
    background: #f9f9f9;
    margin-top: -80px;
    padding-top: 80px;

}

/* "Alegreya", */
body {
    font-family: Merriweather, Alegreya, Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 16px;
    background: #1e1e1e;
    margin: 0px;
    line-height: 24px;
}
a:focus, a:hover {
  color: #777;
}

/* h1 {
    font-size: 2em;
    padding: 10px 0px 10px 0px;
} */

/* h2 {
    font-size: 24px;
    padding: 10px 0px 10px 0px;
} */

/* h3 {
    margin-top: 0px;
} */

.page-title {
    font-size: 1.75em;
    padding: 10px 0px 10px 0px;
}

.section-header {
    font-size: 1.5em;
    padding: 10px 0px 10px 0px;
}

.row {
    margin: 0;
}

.section-header {
    margin-left:15px;
}

.header-space {
    padding: 20px 0;
}

.anchor-link {
    text-decoration: none;
    padding: 0px 20px;
    visibility: hidden;
}


/* Navigation & Header
===========================================*/

.navbar {
    border: none;
    box-shadow: none;
    opacity: 0.99;
    background: none;
    padding: 0px 15px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background: #f9f9f9;
}



.navbar-collapse{
    background: #f9f9f9;
}

.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100px;
}
.navbar-text {
    display: inline-block;
    font-size: 1.6em;
    margin: 0px 0 0 00px;
}

.page-link {
    font-size: 18px;
}

/* .navbar-text {
    display: none;
} */
/* .logo img {
    width: 110px;
    margin: 0px 0px -5px 15px;
} */
.navbar-collapse {
    text-align: center;
}


/* About
===========================================*/

#projects{
margin-bottom: 40px;
}

#connect {
    margin-bottom: 40px;
}

#about {
    margin: 0px 0 0px;
    padding: 0px 0 0;
}

.profile-photo {
  display: block;
 width: 350px;
 padding: 15px 0;
 margin: 0 auto 0px;
 border-radius: 20%;
}

.intro {
    max-width: 800px;
    /* padding: 15px 0; */
    /* margin: 15px 0 0 0px; */
  }


.social-buttons {
    /* padding-left: 15px; */
    line-height: 40px;
  }



.dropcap {
    font-size: 3.4em;
    display: block;
    float: left;
    width: .8em;
    height: .7em;
    line-height: 0.8;
    margin: 0;
}


/* Portfolio
===========================================*/
.tag {
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    -ms-transform: translate(0px,500px); /* IE 9 */
    -webkit-transform: translate(0px,500px); /* Safari */
    transform: translate(0px,500px); /* Standard syntax */
    position: fixed;
}

.tag.show {
   position: relative;
    left: 0px;
    visibility: visible;
    transform: translate(0px,0px); /* Standard syntax */
     -ms-transform: translate(0px,0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Safari */
}

/* Project & blog grid */
.project-thumbnail {
    min-height: 210px;
    padding-bottom: 50px;
}

.post-thumbnail {
    min-height: 322px;
    padding-bottom: 50px;
}

.image-wrapper {
    /* Ensure the image occupies the full height of the container */
    height: 150px;
  }

.blog-cover-photo {
/* Set the image to cover the entire container while maintaining aspect ratio */
object-fit: cover;
width: 100%;
height: 100%;
}

.note-thumbnail  {
    min-height: 140px;
}

.post-section {
  height: 220px;
  overflow: hidden;
  margin-bottom: 20px;
}



.btn-wrapper {
    position:absolute;
    bottom:0;
    padding-bottom: 10px;
}

.blog-btn-wrapper {
    position:absolute;
    bottom:0;
    padding-bottom: 10px;
}

.btn {
    background: none;
    box-shadow: none;
}

.btn-primary {
    background: #829aa8;
    border: solid 1px #829aa8;
    color: #fff;
}

 .btn-primary a, .btn-primary a:visited {
    color: #fff;
 }


.btn-email, .btn-twitter, .btn-github, .btn-linkedin  {
    background: none;
    border: solid 1px #829aa8;
}

.btn-email:hover {
    background: #c0392b;
    border: solid 1px #829aa8;
    color: #ffffff;
}


.btn-twitter:hover {
    background: #6CADDE;
    border: solid 1px #829aa8;
    color: #ffffff;
}

.btn-github:hover {
    background: #000000;
    border: solid 1px #829aa8;
    color: #ffffff;
}


.btn-linkedin:hover {
    background: #1D87BE;
    border: solid 1px #829aa8;
    color: #ffffff;
}

/* Footer
===========================================*/

#footer {
    border-top: solid 2px;
    background: #1e1e1e;
    color: #606060;
    text-align: center;
    height: 200px;
    padding: 30px 0 10px;
    bottom: 0;
    left: 0;
    width: 100%;



}
#footer a {
    color: #606060;
}

/*BLOG*/

.all {
    visibility: hidden;
    /* -ms-transform: translate(100px,0px); 
    -webkit-transform: translate(100px,0px); 
    transform: translate(100px,0px);  */
    position: fixed;
}

.show {
    /* transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; */
    position: relative;
    left: 0px;
    visibility: visible;
    /* transform: translate(0px,0px); 
    -ms-transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); */
}


#tag-btns {
    padding: 0 15px
}

.blog-post_tag {
 font-size:15px;
 color: #828282;
 background-color: #e8e8e8;
 padding: 10px;
 line-height: 45px;
}
 .blog-post_tag a, .blog-post_tag a:visited {
    text-decoration: none;
    padding: 10px;
 }

 .blog-post_tag a:hover, .blog-post_tag a:focus {
  text-decoration: none;
 }


.active, .active:visited, .active a{
background-color: #828282;
color: #e8e8e8;
}

.text-center {
    text-align: center;
}

  /* Post container clickable */
.post-container {
    cursor: pointer;
  }
  
  /* Prevent specific elements from appearing clickable */
  .post-date, .post-tags span {
    text-decoration: none; /* No underline */
    color: inherit; /* Use the parent element's text color */
  }
  
  /* Ensure title link looks clickable */
  .post-title a {
    cursor: pointer; /* Pointer for interactivity */
    font-size: 30px;
  }
  
  .post-title a:hover {
    text-decoration: underline;
  }
  