---
layout: default
title: Blog
permalink: /blog/
---

<!-- Display latest post -->

<section id="Posts">

  <h1>Posts:</h1>

    <!-- {% for tagitem in site.tags except %}
      <span class="post_tag {{ tagitem[0] }}-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tagitem[0] | slugify }}" class="post-tag">{{ tagitem[0] }}</a></span>
    {% endfor %} -->

    <span class="post_tag all-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'all' | slugify }}" class="post-tag">all</a></span>

    <span class="post_tag python-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'python' | slugify }}" class="post-tag">python</a></span>

    <span class="post_tag javascript-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'javascript' | slugify }}" class="post-tag">javascript</a></span>

    <span class="post_tag ruby-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'ruby' | slugify }}" class="post-tag">ruby</a></span>

    <span class="post_tag flask-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'flask' | slugify }}" class="post-tag">flask</a></span>

    <span class="post_tag aws-btn"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ 'aws' | slugify }}" class="post-tag">aws</a></span>


    <br><br>
  <div class="row">

   <ul class="post-list">
    {% for post in site.categories.post %}
    <div class="col-lg-12 all{% for tag in post.tags %} {{ tag }}-tag{% endfor %}">
      <div class="thumbnail post-thumbnail">
      <li>
        <h2>
          <div class="caption">
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <div class="post_meta">
            <span class="post_excerpt"> <p>{{ post.content | strip_html | truncate: 190 }} <a href="{{post.url | prepend: site.baseurl }}">Read&nbsp;more&nbsp;>></a></p> </span>

            {% if post.tags %}
              {% for tag in post.tags %}
                <span class="post_tag {{ tag }}-btn""><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a></span>
              {% endfor %}
            {% endif %}
            <br>
            <div class="blog-btn-wrapper">
            <a class="btn btn-default" href="{{post.url | prepend: site.baseurl }}"> Read more</a>
          </div>
          </div>
        </div>
        </div>
          </div>
        </h2>
      </li>
    {% endfor %}
  </ul>

  </div>

</section>
