---
layout: default
---

<div class="home">

  <h1 class="page-heading">Latest Post:</h1>

  <ul class="post-list">
    {% for post in site.categories.post limit:1 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div class="post_meta">
            <span class="post_author">{{post.author}}</span>
            <span class="post_sep"> | </span>
            <span class="post_date">{{post.date}}</span>
            <span class="post_sep"> | </span>
            <span class="post_excerpt">  {{ post.excerpt }} </span>
            {% if post.tags %}
              {% for tag in post.tags %}
                <span class="post_tag"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a></span>
              {% endfor %}
            {% endif %}
            <br>
          <a href="{{post.url | prepend: site.baseurl }}"> Read more</a>




          </div>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
