
<section id="footer">
            <div class="row">
                <div class="col-md-12">
                    <p class="footerp">
                        <a class="logo" class="navbar-brand" href="#top">Sage Elliott</a>
                        <br>
                        <a href="mailto:hello@sageelliott.com">hello@SageElliott.com</a>
                        <br>
                        <a href="{{ site.twitter }}">twitter</a> |
                        <a href="{{ site.github }}">github</a> |
                        <a href="{{ site.linkedin }}">linkedin</a>
                        <br> &copy; 2019 Sage Elliott
                    </p>
                </div>
            </div>
        </section>
