
<section id="footer">
            <div class="row">
                <div class="col-md-12">
                    <p class="footerp">
                        <a class="logo" class="navbar-brand" href="#top">Sage Elliott</a>
                        <br>
                        <a href="tel:3219170306">321.917.0306</a>
                        <br>
                        <a href="mailto:hello@sageelliott.com">hello@SageElliott.com</a>
                        <br>
                        <a href="https://twitter.com/sagecoder">twitter</a> |
                        <a href="https://github.com/sageio">github</a> |
                        <a href="https://www.linkedin.com/in/sageelliott">linkedin</a>
                        <br> &copy; 2016 Sage Elliott
                    </p>
                </div>
            </div>
        </section>
