<nav class="site-nav">
  <div class="nav-inner">
    <a class="nav-brand" href="{{ site.baseurl }}/">Sage Elliott</a>
    <button class="nav-toggle" onclick="document.querySelector('.nav-links').classList.toggle('open')">Menu</button>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a></li>
      <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
      <li><a href="{{ "/speaking" | prepend: site.baseurl }}">Speaking</a></li>
      <li><a href="https://www.linkedin.com/newsletters/ai-mlops-and-robotics-7017658190519574528/" target="_blank" class="external">Newsletter</a></li>
    </ul>
  </div>
</nav>