<header class="site-header">
  <div class="large-wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>


  <div class="wrapper">



    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="page-link" href="{{ite.baseurl }}#connect">Connect</a>
      </div>
    </nav>

  </div>
  </div>



</header>
