---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="header-space"></div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <!-- <img class="in-blog-cover-photo" src="{{page.img}}" alt="{{ page.title }}"> -->

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    
    <br>
    <!-- Want events like these in your inbox? Sign up <a href="http://bit.ly/2MQbtnE" target="blank">here</a>.  -->
    If you have any questions about this post or want to stay connected find me at:
    <br><br>
    <a class="btn btn-email" href="{{ site.email }}">Email</a>
    <a class="btn btn-github" href="{{ site.github }}" target="blank">Github</a>
    <a class="btn btn-twitter" href="{{ site.twitter }}" target="blank">Twitter</a>
    <a class="btn btn-linkedin" href="{{ site.linkedin }}" target="blank">LinkedIn</a>
    <br><br>
  </div>

